
.introDiv{
    margin-bottom: 2.5375rem /* 47 / 16 = 2.9375 */;
   display: flex;
   flex-direction: column;
    
    height: 25rem /* 400 / 16 = 25 */;
    padding-left: 1.5625rem /* 25 / 16 = 1.5625 */;
    &__img{
       height: 30.3125rem /* 453 / 16 = 28.3125 */;
        object-fit: cover;
        position: absolute;
       margin-top: -3.3125rem /* 53 / 16 = 3.3125 */;
        margin-left: -1.5625rem /* 25 / 16 = 1.5625 */;
        z-index: -1;
    }
    &__heading{
        z-index: 3;
        margin-top: 2.1875rem /* 35 / 16 = 2.1875 */;
       font-size: 2.25rem /* 36 / 16 = 2.25 */;

        color: white;
    }
    &__text{
        z-index: 3;
        color: white;
    }
    &__bottomDiv{
      margin-top: auto;
        color: white;
    }
    &__linkFlex{
        display: flex;
        margin-top: 0.8125rem /* 13 / 16 = 0.8125 */;
    }
    &__gradientDiv{
       
background: linear-gradient(180deg,rgba(0, 0, 0, 1) 10%, rgba(255, 255, 255, 0) 100%);

       z-index: 1;
        height:400px;
        top: 0;
        position: absolute;
        left: 0;
        width: 100%;
    }
}
body{
    transition: 0.4s;
    
    background-color: var(--appBackgroundColor);
}