@use "../variabels.scss";
.intro{
    &__img{
        max-width: 400px;
        display: block;
        margin: 0 auto;
    }
    &__flexDiv{
        display: flex;
        margin: 0 auto;
        max-width: 20rem;
    }
    &__text{
        font-size: 0.9rem;
        
        font-weight: lighter;
       width: 80%;
       max-width: 500px;
       text-align: center;
       margin: 0 auto;
       margin-bottom: 2.2rem;
    }
    &__heading{
        text-align: center;
        margin-top: 0.6rem;
        transition: 0.4s;
    }
    &__link{
        text-align: center;
        margin: 0 auto;
        display: block;
        margin-top: 2rem;
        text-decoration: none;
        color: variabels.$black;
        font-weight: lighter;
    }
}