.login{
    &__heading{
        margin-top: 2.2rem;
        margin-bottom: 10.8rem;
        margin-left: auto;
        max-width: 300px;
        font-size: 2.25rem /* 36 / 16 = 2.25 */;
        font-weight: bold;
        margin-right: auto;
    }
}