body{
  font-family: "Poppins", sans-serif;;
  background-color:var(--appBackgroundColor);
  transition: var(--animationTransistion);
  
}
*{
  margin: 0; 
  padding: 0;
  box-sizing: border-box;
}
img{
  max-width: 100%;
  object-fit: cover;
  width: 100%;
}
#app{

  padding-bottom: 10rem;
}
:root {
    /*Bottom Navbar colors*/
  --navBackgroundColor: white;
  --navBarIconColor: red;
  /*main color*/
  --appBackgroundColor: white;

  --songPreviewColor: black;
  /*moreAlbums*/
  --moreAlbumsHeading: #000;
  /*ekstras*/
  --animationTransistion: 0.4s;
}


html.dark{
    --navBackgroundColor: rgb(17, 22, 37);
    --navBarIconColor: red;
     --appBackgroundColor: rgb(52, 25, 49);
    --songPreviewColor: white;
    --moreAlbumsHeading: white;
}